{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "trailingComma": "none",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 80,
  "jsxSingleQuote": true,
  "importOrder": ["^[./]"],
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "proseWrap": "preserve"
}